.calendar
  @extend .calendar-block-layout

  &-header
    display flex
    flex-direction row
    justify-content space-between
    align-items center

    &__item
      display inline-block
      vertical-align middle

      &--separator
        font-size 40px
        font-weight 700
        margin 0 8px

    &__buttons
      display inline-flex
      flex-direction row
      flex 1 0 0
      justify-content center

  &-week
    display block
    padding 24px 0 0 0

    &__header
      display block
      margin-bottom 12px

    &-day
      display inline-block
      vertical-align top
      height 132px
      width 132px
      margin-right 8px
      background-color #f3faff

      &:last-child
        margin-right 0

      &__header
        text-align center
        padding 8px 0 8px 0

      &__holidays
        padding 4px 8px
        margin 0
        color $black-2
        transition-duration 750ms
        transition-timing-function ease-out

        &:hover
          color $white
          background-color $red

        &--folk
          font-weight 700

          &:hover
            background-color $blue
