$font = 'Roboto', sans-serif
$font-size = 16px
$line-height = 22px
$nominal-left-col-width = 480px
$factual-left-col-width = 454px

$blue-light = #b3daf7
$blue = #5b99f7
$blue-dark = #1671fb

$red-light = #FF0207
$red = #DF2029
$red-dark = #9D171E

$black-1 = #000000
$black-2 = #262626
$gray-1 = #575757
$gray-2 = #DADADA
$gray-3 = #4A4A4A
$white = #FFFFFF

$body-background = linear-gradient(90deg, $blue-light, #e2eeff, #c6e7ff, $white)
$full-color = linear-gradient(to right, #2D9FFF, #DF2029)
