@import 'general/vars';
@import 'general/fonts';
@import 'general/base';
@import 'general/layout';

@import 'components/homepage';
@import 'components/calendar';
@import 'components/btn';
@import 'components/select';
@import 'components/snackbarNotification';
@import 'components/spinner';
